/**
 * Copyright (c) 2010 Pierre-Étienne Jacques Laboratory
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.help-dialog {
	-fx-padding: 10;
}
.buttons {
	-fx-padding: 10 0 0 0;
	-fx-spacing: 20;
}
.back {
	-fx-graphic: url('/icons/vaadin/arrow-backward-blue.png');
	-fx-content-display: graphic-only;
}
.forward {
	-fx-graphic: url('/icons/vaadin/arrow-forward-blue.png');
	-fx-content-display: graphic-only;
}
