/**
 * Copyright (c) 2010 Pierre-Étienne Jacques Laboratory
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
/* General */
.button.help {
	-fx-graphic: url('/icons/vaadin/info-circle-blue.png');
	-fx-content-display: graphic-only;
}

/* Error */
.error .label {
	-fx-text-fill: red;
}
.error .check-box {
	-fx-text-fill: red;
}
.error .radio-button {
	-fx-text-fill: red;
}
.label.error {
	-fx-text-fill: red;
}
.text-field.error {
	-fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, FFFF99;
}
.selectable-label .text-field.error {
	-fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}
.list-cell.error {
	-fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, FFFF99;
}
.list-cell.error:odd {
    -fx-background-color: derive(FFFF99,-5%);
}
.list-view:focused .list-cell.error:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}
.list-view:focused .list-cell.error:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}
.list-view:focused .list-cell.error:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
.list-view:focused .list-cell.error:filled:selected, .list-view:focused .list-cell.error:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
.list-view:focused .list-cell.error:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}
.list-cell.error:filled:selected:focused, .list-cell.error:filled:selected, .list-view:horizontal .list-cell.error:filled:selected {
    -fx-background-color: derive(FFFF99,-25%);
    -fx-text-fill: -fx-selection-bar-text;
}
.list-cell.error:filled:selected:focused:disabled, .list-cell.error:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.list-cell.error:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}
.list-view:focused .list-cell.error:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}
.list-view:horizontal .list-cell.error:filled:selected, .list-view:horizontal .list-cell.error:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, derive(-fx-accent,-7%), derive(-fx-accent,-25%));
}
.yaxis-scale-from .label, .yaxis-scale-to .label {
	-fx-text-fill: black;
}
.yaxis-scale-from.error .label, .yaxis-scale-to.error .label {
	-fx-text-fill: red;
}

/* Resizable pane */
.resizable .resize {
	-fx-background-color: grey;
}

/* Selectable label */
.selectable-label .label {
	-fx-padding: 0 1 0 0;
}
.selectable-label .text-field {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0 0 0 -1;
}

/* Toggle buttons */
.toggle-button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.toggle-button:focused {
    -fx-color: -fx-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;
}
.toggle-button:hover {
    -fx-color: -fx-hover-base;
}
.toggle-button:armed {
    -fx-color: -fx-pressed-base;
}
.toggle-button:selected {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;
}
.toggle-button:selected:focused {
    -fx-color: -fx-base;
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: -1.4, 0, 1, 1;
}
.toggle-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.toggle-button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}
.toggle-button.big {
	-fx-font: bold 14 sans-serif;
	-fx-padding: 5 20 5 20;
}
.toggle-button.left {
	-fx-background-radius: 5 0 0 5, 5 0 0 5, 4 0 0 4, 3 0 0 3;
}
.toggle-button.center {
	-fx-background-radius: 0, 0, 0, 0;
}
.toggle-button.right {
	-fx-background-radius: 0 5 5 0, 0 5 5 0, 0 4 4 0, 0 3 3 0;
}
.toggle-button-group {
	-fx-alignment: center-left;
}
.toggle-button-group .buttons {
	-fx-spacing: 0;
}

/* Multiple files selection */
.multiple-files-selection {
	-fx-alignment: center-left;
	-fx-spacing: 5;
}
.multiple-files-selection .files-selection-pane {
	-fx-alignment: center-left;
	-fx-spacing: 5;
}
.multiple-files-selection .single-file-selection {
	-fx-padding: 0 5 0 5;
}
.multiple-files-selection .single-file-selection-text {
	-fx-padding: 0 5 0 0;
}
.multiple-files-selection .move-file {
	-fx-alignment: center-left;
	-fx-fill-width: false;
	-fx-spacing: 5;
}
.multiple-files-selection .move-file-up {
	-fx-graphic: url('/icons/vaadin/caret-up-blue.png');
	-fx-content-display: graphic-only;
}
.multiple-files-selection .move-file-down {
	-fx-graphic: url('/icons/vaadin/caret-down-blue.png');
	-fx-content-display: graphic-only;
}

/* Gene axis */
.gene-axis .transcription-start-arrow {
	-fx-alignment: bottom-left;
	-fx-stroke-width: 2px;
	-fx-stroke: black;
	-fx-fill: black;
}
.gene-axis .region-box {
	-fx-alignment: top-left;
	-fx-padding: 2px 5px 2px 5px;
}
.gene-axis .region-box .rectangle {
	-fx-stroke: black;
	-fx-stroke-width: 1px;
	-fx-fill: #d3d3d3;
}
.gene-axis .region-box .rectangle.line {
	-fx-fill: black;
}
.gene-axis .region-box .text {
	-fx-text-alignment: center;
	-fx-fill: black;
	-fx-stroke: null;
}
.gene-axis .scale-legend {
	-fx-spacing: 5;
	-fx-alignment: bottom-left;
	-fx-padding: 10 5 10 5;
	visibility: hidden;
}
.gene-axis.ABSOLUTE .scale-legend {
	visibility: visible;
}
.gene-axis .scale-legend .line {
	-fx-stroke-width: 5;
	-fx-fill: black;
	-fx-stroke: black;
}
.gene-axis .scale-legend .text {
	-fx-text-alignment: right;
	-fx-fill: black;
	-fx-stroke: null;
}

/* Gene chart. */
.gene-chart {
	-fx-create-symbols: false;
}
.gene-chart.chart-stdev .chart-line-symbol {
	-fx-stroke: #f9d900;
    -fx-stroke-width: 5px;
	-fx-opacity: 0.5;
}
.default-color0.chart-line-symbol { -fx-background-color: #AC0000, white; }
.default-color1.chart-line-symbol { -fx-background-color: #FF0000, white; }
.default-color2.chart-line-symbol { -fx-background-color: #FF9900, white; }
.default-color3.chart-line-symbol { -fx-background-color: #FFFF00, white; }
.default-color4.chart-line-symbol { -fx-background-color: #66ED7A, white; }
.default-color5.chart-line-symbol { -fx-background-color: #66CCFF, white; }
.default-color6.chart-line-symbol { -fx-background-color: #0000FF, white; }
.default-color7.chart-line-symbol { -fx-background-color: #000066, white; }
.default-color0.chart-series-line { -fx-stroke: #AC0000; }
.default-color1.chart-series-line { -fx-stroke: #FF0000; }
.default-color2.chart-series-line { -fx-stroke: #FF9900; }
.default-color3.chart-series-line { -fx-stroke: #FFFF00; }
.default-color4.chart-series-line { -fx-stroke: #66ED7A; }
.default-color5.chart-series-line { -fx-stroke: #66CCFF; }
.default-color6.chart-series-line { -fx-stroke: #0000FF; }
.default-color7.chart-series-line { -fx-stroke: #000066; }
.gene-chart.chart-stdev .default-color0.chart-line-symbol { -fx-stroke: #AC0000; }
.gene-chart.chart-stdev .default-color1.chart-line-symbol { -fx-stroke: #FF0000; }
.gene-chart.chart-stdev .default-color2.chart-line-symbol { -fx-stroke: #FF9900; }
.gene-chart.chart-stdev .default-color3.chart-line-symbol { -fx-stroke: #FFFF00; }
.gene-chart.chart-stdev .default-color4.chart-line-symbol { -fx-stroke: #66ED7A; }
.gene-chart.chart-stdev .default-color5.chart-line-symbol { -fx-stroke: #66CCFF; }
.gene-chart.chart-stdev .default-color6.chart-line-symbol { -fx-stroke: #0000FF; }
.gene-chart.chart-stdev .default-color7.chart-line-symbol { -fx-stroke: #000066; }
.gene-chart .chart-legend-item-symbol {
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
    -fx-padding: 2px 10px 2px 10px;
}
.gene-chart.chart-stdev .chart-legend-item-symbol {
	-fx-opacity: 1;
}
.proportion-chart {
	-fx-create-symbols: false;
}
.proportion-chart .chart-legend-item-symbol {
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
    -fx-padding: 2px 10px 2px 10px;
}
.series8.chart-series-line, .series9.chart-series-line, .series10.chart-series-line, .series11.chart-series-line, .series12.chart-series-line, .series13.chart-series-line, .series14.chart-series-line, .series15.chart-series-line {
	-fx-stroke-dash-array: 1 7;
	-fx-stroke-line-cap: round;
}
.series8.chart-legend-item-symbol, .series9.chart-legend-item-symbol, .series10.chart-legend-item-symbol, .series11.chart-legend-item-symbol, .series12.chart-legend-item-symbol, .series13.chart-legend-item-symbol, .series14.chart-legend-item-symbol, .series15.chart-legend-item-symbol {
    -fx-background-radius: 2;
    -fx-padding: 2px;
}
.representation-type {
	-fx-padding: 5px;
}
.proportion-chart {
	-fx-legend-visible: false;
}
/*
.series16.chart-series-line, .series17.chart-series-line, .series18.chart-series-line, .series19.chart-series-line, .series20.chart-series-line, .series21.chart-series-line, .series22.chart-series-line, .series23.chart-series-line {
	-fx-stroke-dash-array: 6 7;
}
.series16.chart-legend-item-symbol, .series17.chart-legend-item-symbol, .series18.chart-legend-item-symbol, .series19.chart-legend-item-symbol, .series20.chart-legend-item-symbol, .series21.chart-legend-item-symbol, .series22.chart-legend-item-symbol, .series23.chart-legend-item-symbol {
    -fx-background-radius: 2;
    -fx-padding: 2px;
}
*/

/* Heatmap chart. */
.chart-heatmap.noaxis {
	-fx-legend-visible: false;
}
.chart-heatmap.noaxis .axis {
	-fx-tick-mark-visible: false;
	-fx-tick-labels-visible: false;
	-fx-border-style: none;
	-fx-border-width: 0;
}
.chart-heatmap.noaxis .axis-tick-mark, 
.chart-heatmap.noaxis .axis-minor-tick-mark, 
.chart-heatmap.noaxis .chart-vertical-grid-lines, 
.chart-heatmap.noaxis .chart-horizontal-grid-lines, 
.chart-heatmap.noaxis .chart-vertical-zero-line, 
.chart-heatmap.noaxis .chart-horizontal-zero-line,
.chart-heatmap.noaxis .gene-axis .transcription-start-arrow,
.chart-heatmap.noaxis .gene-axis .region-box .rectangle,
.chart-heatmap.noaxis .gene-axis .region-box .text,
.chart-heatmap.noaxis .gene-axis .scale-legend .text,
.chart-heatmap.noaxis .gene-axis .scale-legend .line {
    -fx-stroke: transparent;
    -fx-fill: transparent;
}
.chart-heatmap.noaxis .chart-alternative-row-fill, .chart-alternative-column-fill {
    -fx-fill: #f5f5f5;
}
.axis.saveaxis {
	-fx-border-style: none;
	-fx-border-width: 0;
}
.axis.saveaxis .axis-tick-mark {
	-fx-stroke: transparent;
    -fx-fill: transparent;
}

/* Heatmap color tooltip. Required because Java 7 does not apply CSS to tooltip properly when using afterburner.fx */
.heatmap-colors-tooltip {
	-fx-background-color: -fx-body-color;
}
.heatmap-colors-tooltip .colors-tooltip-gradients {
	-fx-hgap: 5;
	-fx-vgap: 5;
}
