/**
 * Copyright (c) 2010 Pierre-Étienne Jacques Laboratory
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.parameter-file {
	-fx-spacing: 5px;
}
.scroll-pane {
	-fx-fit-to-width: true;
}
.parameter-file-content {
	-fx-spacing: 5px;
	-fx-background-color: white;
}
.analysis-mode, .file-selection, .parameters-selection, .output-selection {
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-spacing: 15;
	-fx-padding: 5;
}
.elements {
	-fx-padding: 0;
	-fx-spacing: 15;
}
.header {
	-fx-spacing: 5px;
}
.header .label {
	-fx-font: bold 16 sans-serif;
}
.relative-warning {
	-fx-spacing: 5;
}
.relative-warning .label {
	-fx-font-size: 2em;
	-fx-text-fill: red;
}
.radio-toggle-button {
	-fx-spacing: 5;
	-fx-alignment: center-left;
}
.radio-toggle-button .buttons {
	-fx-spacing: 0;
}
.run {
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-border-style: solid;
	-fx-border-width: 1 0 0 0;
	-fx-padding: 3;
}
.run .button {
	-fx-font: italic bold 16 sans-serif;
	-fx-graphic: url('dialog-ok-2_24.png');
	-fx-graphic-text-gap: 10;
}
