/**
 * Copyright (c) 2010 Pierre-Étienne Jacques Laboratory
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.absolute-block {
	-fx-hgap: 7;
	-fx-vgap: 7;
}
.absolute-block .show-advanced {
	-fx-spacing: 5px;
}
.absolute-block .split-type, .split-alignment {
	-fx-spacing: 5px;
}
.absolute-block .sub-section {
	-fx-label-padding: 0 0 0 10px;
}
.absolute-block .stack-block {
	-fx-alignment: center;
}
.absolute-block .stack-forced {
	-fx-alignment: top-left;
}
.absolute-block .value-unit {
	-fx-spacing: 3px;
}
.absolute-block .label-block {
	-fx-font-weight: bold;
}
.absolute-block .label.block_alignment {
	-fx-content-display: graphic-only;
}
.absolute-block .label.block_alignment.LEFT {
	-fx-graphic: url('block_left.png');
}
.absolute-block .label.block_alignment.RIGHT {
	-fx-graphic: url('block_right.png');
}
.absolute-block .label.block_alignment.SPLIT {
	-fx-graphic: url('block_split.png');
}
.absolute-block .label.block_alignment.SPLIT.PERCENTAGE.P_50 {
	-fx-graphic: url('block_split_pc_half.png');
}
.absolute-block .label.block_alignment.SPLIT.PERCENTAGE.PA_LEFT.P_under_50, .label.block_alignment.SPLIT.PERCENTAGE.PA_RIGHT.P_over_50 {
	-fx-graphic: url('block_split_pc_left.png');
}
.absolute-block .label.block_alignment.SPLIT.PERCENTAGE.PA_RIGHT.P_under_50, .label.block_alignment.SPLIT.PERCENTAGE.PA_LEFT.P_over_50 {
	-fx-graphic: url('block_split_pc_right.png');
}
.absolute-block .label.block_alignment.SPLIT.ABSOLUTE.PA_LEFT {
	-fx-graphic: url('block_split_abs_left.png');
}
.absolute-block .label.block_alignment.SPLIT.ABSOLUTE.PA_RIGHT {
	-fx-graphic: url('block_split_abs_right.png');
}
.absolute-block .label.block_alignment.forced {
	-fx-graphic: url('block_full.png');
}
