/**
 * Copyright (c) 2010 Pierre-Étienne Jacques Laboratory
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.output-heatmap {
	-fx-spacing: 5px;
}
.output-heatmap .output-heatmap-output, .output-heatmap .default-heatmap, .output-heatmap .custom-heatmap, .output-heatmap .heatmap-width, .output-heatmap .heatmap-height, .output-heatmap .heatmap-noAxis, .output-heatmap .heatmap-colors, .output-heatmap {
	-fx-spacing: 5px;
}
.output-heatmap .output-heatmap-sub {
	-fx-padding: 0 0 0 20;
	-fx-spacing: 5;
}
.output-heatmap .advanced {
	-fx-spacing: 5;
}
.output-heatmap .colors-tooltip {
	-fx-content-display: graphic-only;
}
