/**
 * Copyright (c) 2010 Pierre-Étienne Jacques Laboratory
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
.output-graph {
	-fx-spacing: 5px;
}
.output-graph .showAdvanced {
	-fx-spacing: 5px;
}
.output-graph .graphs {
	-fx-padding: 0 0 0 20;
	-fx-hgap: 10;
	-fx-vgap: 5;
}
.output-graph .graph {
	-fx-alignment: center;
	-fx-content-display: graphic-only;
}
.output-graph .graph.anyAny {
	-fx-graphic: url('AA.png');
}
.output-graph .graph.anyConv {
	-fx-graphic: url('AC.png');
}
.output-graph .graph.divAny {
	-fx-graphic: url('DA.png');
}
.output-graph .graph.anyTand {
	-fx-graphic: url('AT.png');
}
.output-graph .graph.tandAny {
	-fx-graphic: url('TA.png');
}
.output-graph .graph.tandTand {
	-fx-graphic: url('TT.png');
}
.output-graph .graph.tandConv {
	-fx-graphic: url('TC.png');
}
.output-graph .graph.divTand {
	-fx-graphic: url('DT.png');
}
.output-graph .graph.divConv {
	-fx-graphic: url('DC.png');
}
